footer{
    height: 400px;
    background: url('../assets/footer-bg.jpg');
    display: flex;
    padding: 0 220px;
    overflow: hidden;

    img{
        margin-top: -70px;
        margin-bottom: -70px;
    }

    .footer-inner{
        width: 70%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;

    .lists-container{
        height: 85%;
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        span{
            margin: 30px 0;
            margin-right: 35px;
        }

        li{
            font-size: 11px;
            margin-bottom: 5px;
            margin-right: 30px;
            color: grey;
        }
    }


    

    }
    

}