header{

    display: flex;
    justify-content: space-around;
    height: 150px;
    width: 1200px;
    margin: 0 auto;

    

    .header-left{
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-right{
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;

        ul{
            height: 100%;
            display: flex;
            gap: 15px;

            li{
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
                height: 100%;
                display: flex;
                align-items: center;

                &:hover{
                    color: rgb(30, 141, 214);
                    cursor: pointer;
                    border-bottom: 5px solid rgb(30, 141, 214);
                    box-sizing: content-box;
                }
            }
        }

        
    }


}